<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      body {
        height: 100vh;
        background-image: url(https://statik.tempo.co/data/2021/07/23/id_1037210/1037210_720.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
    <title>Tokyo Olympics 2020</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <div
            class="
              min-vh-100
              text-center
              m-0
              d-flex
              flex-column
              justify-content-center"
          >
          <h1><img src="https://img.olympicchannel.com/images/image/private/t_1-1_300/primary/apw4ubzgyihvp9nmml7j" /></h1>
            <p class="lead"><b>This is Official Website of Tokyo Olympics 2020</b></p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/country" role="button"
                >See Countries</a
              >
              <a class="btn btn-primary btn-lg" href="/sport" role="button"
                >See Sports</a
              >
            </p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/athlete" role="button"
                >See All Athletes</a
              >
              <a class="btn btn-primary btn-lg" href="/admin" role="button"
                >See Admin</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
