<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Country</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
      * {
        margin: 0;
        padding: 0;
        outline: 0;
        font-family: "Open Sans", sans-serif;
      }
      body {
        height: 100vh;
        background-image: url(https://p4.wallpaperbetter.com/wallpaper/649/274/476/countries-flag-map-world-map-wallpaper-preview.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 25px;
        width: 300px;
        background-color: rgba(5, 5, 5, 5);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      }
      .container h1 {
        text-align: center;
        font-family: "Otomanopee One", sans-serif;
        color: #fafafa;
        margin-bottom: 30px;
      }
      .container label {
        text-align: left;
        color: #90caf9;
      }
      .container form input {
        width: calc(100% - 20px);
        padding: 8px 10px;
        margin-bottom: 15px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #2979ff;
        color: #fff;
        font-size: 16px;
      }
      .container form button {
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
      }
      .container form button:hover {
        background-color: #2979ff;
        color: #464343;
      }
      ::-webkit-input-placeholder {
        font-style: italic;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>FORM ADD COUNTRY</h1>
      <form action="/country/add" method="post">
        <label for="name">Country Name</label>
        <input type="text" name="name" placeholder="Country Name" required />
        <br />
        <center><button>Apply</button></center>
      </form>
    </div>
  </body>
</html>
